table#history {
  th.changes {
    width: 100px;
  }
}

table#version {
  td.original {
    background-color: #ffc6c6;
  }

  td.changed {
    background-color: #c6ffc6;
    text-decoration: none;
  }
}
